.chatBox{
    display: flex;
    flex-direction: column;
}
.chatBox_header{
    height: 75px;
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.headers_avatarBox{
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 60px;
    margin-left: 10px;
}
.headers_avatar{
    height: 100%;
}
.headers_info{
    margin-left: 10px;
    flex: 1;
}
.headers_name{
    font-size: 17px;
    font-weight: bold;
}
.headers_timeActive{
    font-weight: 15px;
    color: gray;
}