.input{
    width: 90%;
    height: 55px;
    margin-bottom:20px;
    box-sizing: border-box;
    border: 1.5px solid #bcbfc2;
    border-radius: 50px;
    padding-left: 30px;
    outline: none;
}
.input:focus{
    border: 1.5px solid #1977f3;
}