.button{
    color: white;
    height: 55px;
    font-size: 18px;
    font-weight: bold;
    outline: none;
    border: none;
    width: 90%;
    border-radius: 50px;
    margin-top: 20px;
    cursor: pointer;
}
.button:hover{
    opacity: 75%;
}