.reaction_bar {
  display: flex;
  width: 100%;
  height: 80px;
  flex-direction: column;
  margin: 10px 0 40px 0;
  position: relative;
}
.reaction_count {
  font-size: 20px;
  margin: 20px 20px 20px 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
  position: relative;
  border-bottom: solid var(--blue) 1px;
  width: 100%;
}
.reaction_count:hover {
  cursor: pointer;
  color: var(--main-color);
  font-weight: 500;
}
.like {
  position: relative;
}
.reaction_list {
  height: 60px;
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 50px;
  left: 10px;
  border-radius: 20px;
}
.reaction_people_list {
  position: fixed;
  background: white;
  width: 50%;
  height: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
}
.reaction_modal {
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}
.reaction_item {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reaction_item:hover {
  cursor: pointer;
  transform: scale(1.5);
  transition: 0.3s linear;
}
.action {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}
.action_item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
  width: 100%;
  height: 40px;
  border: solid var(--blue) 1px;
  border-radius: 4px;
}
.action_item:hover {
  background-color: #f7f8f9;
  cursor: pointer;
}
.display {
  display: flex;
}
.hide {
  display: none;
}
