.header{
    background-color: #0277bd !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_left{
    display: flex;
    align-items: center;
}
.header_right{
    display: flex;
    align-items: center;
}
.header_mid{
    display: flex;
    align-items: center;
}
.search {
    margin-left: 50px;
    width: 400px !important;
}
.img_logo{
    width: 50px;
    height: 50px;
    background-size: cover;
}

