:root {
  --grey: #dbd7d7;
  --dark-grey: #a6a5a4;
  --blue: #0277bd;
  --dark_blue: #0268a6;
}

input[type="file"] {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
}

.text-muted {
  color: grey;
  font-size: 1rem;
  font-weight: normal;
  padding: 16px 32px;
}

.btn {
  color: var(--blue);
  background-color: white;
  border: solid var(--blue) 1px;
  font-size: 1rem;
  border-radius: 5px;
  padding: 4px 16px;
  margin: 8px;
}

.btn:hover {
  color: white;
  background-color: var(--blue);
  transform: scale(1.02);
}

.delete_btn {
  position: absolute;
  top: 0px;
  right: 5%;
  padding: 4px 3px;
  z-index: 100;
  color: var(--dark-grey);
  display: none;
}

.input_file {
  display: inline;
}

.input_file label {
  border-radius: 5px;
  border: solid var(--blue) 1px;
  padding: 4px 16px;
  font-size: 1rem;
  cursor: pointer;
  color: var(--blue);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

input[type="file"]:hover + label {
  transform: scale(1.02);
}

.form {
  border-radius: 10px;
  border: solid 1px var(--grey);
  margin: 16px;
  padding: 8px;
}

.list_img {
  display: flex;
  flex-wrap: wrap;
}

.img-small {
  width: 16px;
  height: 16px;
  margin: 0 16px;
}

.img_wrap {
  position: relative;
  width: 23%;
  margin: 8px;
  border: solid var(--grey) 1px;
  border-radius: 10px;
  overflow: hidden;
}

.img_wrap:hover {
  border-color: var(--blue);
}

.img_wrap:hover .delete_btn {
  display: inline;
}

.upload_img {
  width: 100%;
  height: 100%;
}

.header {
  display: flex;
  align-items: center;
  font-size: 0.95rem;
  font-weight: 600;
  padding: 16px 16px;
  border-bottom: 1px var(--grey);
}
