:root {
  --grey: #dbd7d7;
}

.text-muted {
  color: grey;
  font-size: 1rem;
  font-weight: normal;
  padding: 16px 32px;
}

.btn {
  background-color: white;
  color: grey;
  border: none;
}

.form {
  border-radius: 10px;
  border: solid 1px var(--grey);
  margin: 16px;
  padding: 8px;
}

.img-small {
  width: 16px;
  height: 16px;
  margin: 0 16px;
}

.header {
  display: flex;
  align-items: center;
  font-size: 0.95rem;
  font-weight: 600;
  padding: 16px 16px;
  border-bottom: 1px var(--grey);
}
