.loginPage{
    width: 100%;
    height: 100vh;
    position: relative;
    background :url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v996-021-kroircva.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=cb0f949e3c3436a8c17ab2eacf723443);

    background-repeat: no-repeat;
    background-size: cover;
}
.signup{
    
    height: 100%;
    width: 100%;
    text-align: center;
    position: relative;
    bottom: 25px;
}
.login{
   
    height: 100%;
    width: 100%;
    text-align: center;
}
.box{
    position: absolute;
    top:10%;
    right: 10%;
    border-radius: 5px;
    height: 450px;
    width: 410px;
    background: white;
    overflow: hidden;
}
.p{
    color: #1877f2;
    cursor: pointer;
    padding-bottom: 10px;
}
.line{
    border-top: 0.5px solid #cacbcc;
    width: 90%;
    margin-left: 5%;
    padding-top: 10px;
}
.scroll{
    height: 100%;
    transition: 0.5s;
}
.scroll.show{
    transition: 0.5s;
    transform: translateY(-100%)
}
.social{
    width: 500px;
    height: 500px;
    position: absolute;
    left: 150px;
    top: 100px;
}
.heading{
    color: #1877f2;
}
.describes{
    font-size: 25px;
}