@import "../../App.css";

input[type="file"] {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
}

.input_file {
  display: inline;
}

.input_file label {
  border-radius: 5px;
  border: solid var(--blue) 1px;
  padding: 4px 16px;
  font-size: 1rem;
  cursor: pointer;
  color: var(--blue);
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

input[type="file"]:hover + label {
  transform: scale(1.02);
}
.btn {
  color: var(--blue);
  background-color: white;
  border: solid var(--blue) 1px;
  font-size: 1rem;
  border-radius: 5px;
  padding: 4px 16px;
  margin: 8px;
  margin-left: 0;
}

.btn:hover {
  color: white;
  background-color: var(--blue);
  transform: scale(1.02);
}

.text-muted {
  color: grey;
  font-size: 1rem;
  font-weight: normal;
  padding: 16px 32px;
}

.form {
  border-radius: 10px;
  border: solid 1px var(--grey);
  margin: 16px;
  padding: 8px;
  background-color: white;
}

.error {
  color: red;
}
