.inputSearch{
    border: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 400px;
    height: 30px;
    margin-left: 10px;
    padding-left: 20px;
}
.iconSearch{

    background-color: white;
    height: 30px;
    width: 30px;
    display: flex;
    padding: 8px 0px;
}
.iconSearch:hover{
    cursor: pointer;
}