.video__item {
    border-radius: 14px;
    height: 40vw;
    width: 70vw;
}

.video__item--avatar {
    border-radius: 14px;
    width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.none {
    display: none;
}

.my__video {
    width: 330px !important;
    height: 210px !important;
    position: absolute;
    right: 30px;
    bottom: 70px;
}