:root {
  --main-color: #0277bd;
  --primary-color: #f0f2f5;
  --white-color: #ffffff;
  --hover-select-color: #1c85c4;
  --hover-select-background: #eeeeee;
}

* {
  box-sizing: border-box;
}
p{
  margin-bottom: 0 !important;
}
.ck-editor__editable {
  min-width: 350px !important;
  max-width: 1000px !important;
  min-height: 50px !important;
  max-height: 50px !important;
}
