.header{
    background:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
}
.header_left{
    display: flex;
    align-items: center;
   
}
.header_right{
    display: flex;
    align-items: center;
 
}
.header_mid{
    display: flex;
    align-items: center;
    background: gray;

}
.search {
    width: 30px;
    overflow: hidden;
}
.img_logo{
    height: 50px;
    background-size: cover;
}

.icon{
    height: 45px;
    width: 45px;
    border-radius: 50px;
    background: #e4e6eb;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: black;
    cursor: pointer;
    margin-right: 10px;
}
.icon:hover{
    background: #d8dadb;
}

