.sider{
    background-color: #bdcfec !important;
    height: 100vh;
    display: flex;
    width: 300px;
}
.user_info{
    margin: 20px;
    display: flex;
    justify-content: center;
}
.user_name{
    margin-left: 20px;
    color: #0277bd;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

