.sider{
    background-color: #bdcfec !important;
    height: 100vh;
    display: flex;
    width: 300px;
    display: flex;
    flex-direction: column;
}
.user_info{
   
    display: flex;
}
.user_name{
    margin-left: 20px;
    color: #0277bd;
    font-weight: 700;
    display: flex;
    align-items: center;
}

