@import "../../../App.css";

.btn {
  color: var(--blue);
  border-radius: 5px;
  border: solid 1px var(--blue);
  padding: 4px 16px;
  font-size: 1rem;
  background-color: white;
  margin: 4px 0;
}

.header {
  position: relative;
  background-color: white;
  color: white;
  padding: 16px 0;
  display: flex;
  align-items: center;
}

.info {
  margin: 0 16px;
}

.user_name {
  font-weight: bold;
  font-size: 1rem;
  color: var(--blue);
  margin-left: 5px;
  align-items: center;
}

.time_box {
  display: flex;
  align-items: center;
}

.time {
  color: var(--dark-grey);
  font-size: 0.8rem;
}

.clock {
  width: 12px;
  height: 12px;
  margin-right: 4px;
  filter: opacity(0.5);
}

.avatar_box {
  width: 54px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 100px;
  margin-left: 16px;
}

.avatar {
  height: 100%;
}

.content_box {
  font-size: 1.2rem;
  margin-left: 32px;
}

.list_image {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.image {
  width: 120%;
}

.img_wrap {
  height: 128px;
  width: 23%;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: solid 1px var(--grey);
  border-radius: 10px;
  margin-right: 16px;
  margin-top: 4px;
}

.img_wrap2 {
  width: 80%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 4px;
}

.list_img {
  display: flex;
  flex-wrap: wrap;
}

.comment_box {
  background-color: white;
  color: white;
  padding: 16px 0;
  display: flex;
  align-items: center;
}
.comment_content {
  color: black;
  display: flex;
  align-items: center;
}

.dots {
  width: 32px;
  filter: opacity(0.5);
  margin-left: auto;
  margin-right: 32px;
}

.options {
  position: absolute;
  top: 30%;
  right: 8%;
  z-index: 1000;
  color: black;
  margin-left: auto;
  background-color: white;
  width: 30%;
  border: solid var(--dark-grey) 1px;
  border-radius: 10px;
  overflow: hidden;
  min-height: 50px;
  display: flex;
  flex-direction: column;
}

.btn_link {
  border: none;
  background-color: white;
  padding: 16px;
  color: var(--blue);
  font-size: 1rem;
  width: 100%;
}

.btn_link:hover {
  background-color: var(--light-grey);
}

.danger {
  border-color: red;
  color: red;
}

.comment_box {
  background-color: white;
  color: white;
  padding: 16px 0;
  display: flex;
  align-items: center;
}
.comment_content {
  color: black;
  display: flex;
  align-items: center;
}

.edit_box {
  margin: 32px;
}
